*{font-family: Papyrus, fantasy;}

.thing{
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  padding-inline: 6px;
  margin: 3px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

.navlink {
  cursor: pointer;
  align-self: flex-start;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.header {
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.editor,
.editor textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.editor textarea {
  text-align: left;
  resize: none;
}